body > .grid {
  height: 100%;
}

tbody > tr > th+th+th {
  position: relative;
  cursor: pointer;
}
tbody > tr > th+th+th:hover {
  text-decoration: underline;
  color: #00013a;
}
tbody > tr > th+th+th:hover > div {
  display: block;
}

.popupDisplay {
  background-color: white;
  z-index: 10;
  display: none;
  position: absolute;
  left: 85%;
  top: 0;

  width: 20%;
  min-width: 150px;
  max-width: 250px;

  border: 1px solid #ddd;
  padding: 5px;
}

.popupDisplay > img {
  width: 100%;
}

body > div > div {
  display: none;
}

.modal {
  display: none;
}

.modal > .content > p, .actions {
  text-align: center !important;
}

.ui.message {
  display: none;
}

#bajs {
  display: none !important;
}
.ui.modal {
  top: 30%;
}

td {
  text-overflow: ellipsis;
}

th {
  padding: 14px;
  color: #777;
  border-bottom: 1px solid #ddd;
}

tr:last-child > th {
  border-bottom: none;
}

/*.dimmer, .loader {
  position: absolute !important;

}
.dimmer {
  height: 500px !important;
}*/
