body > .grid {
  height: 100%;
}

body > div > div {
  display: none;
}

.modal {
  display: none;
}

.modal > .content > p, .actions {
  text-align: center !important;
}

.ui.message {
  display: none;
}

#bajs {
  display: none !important;
}
.ui.modal {
  top: 30%;
}

td {
  text-overflow: ellipsis;
}
